@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, autumn, silk;
}

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html {
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
}

@utility utilities {
  .text-balance {
    text-wrap: balance;
  }
}
