@import "tailwindcss";
@plugin "daisyui" {
  themes: "abyss";
}

@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0.08 209);
  --color-base-200: oklch(15% 0.08 209);
  --color-base-300: oklch(10% 0.08 209);
  --color-base-content: oklch(92% 0.003 48.717);
  --color-primary: oklch(92% 0.003 48.717);
  --color-primary-content: oklch(30% 0.08 209);
  --color-secondary: oklch(70% 0.01 56.259);
  --color-secondary-content: oklch(30% 0.08 209);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(92% 0.003 48.717);
  --color-neutral: oklch(30% 0.08 209);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(30% 0.08 209);
  --color-success: oklch(92% 0.084 155.995);
  --color-success-content: oklch(30% 0.08 209);
  --color-warning: oklch(92% 0.12 95.746);
  --color-warning-content: oklch(30% 0.08 209);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(30% 0.08 209);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html {
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
}

@utility utilities {
  .text-balance {
    text-wrap: balance;
  }
}
